PORT=3000
NODE_ENV=development
# NODE_ENV=production

# PostgreSQL local:
DATABASE_URL=postgresql://usuario:password@localhost:5432/shopp

# Origen permitido del cliente.
# Desarrollo local Expo Web:
CLIENT_ORIGIN=http://localhost:8081

# Producción Netlify:
# CLIENT_ORIGIN=https://tu-app.netlify.app


# heroku config:set NODE_ENV=production --app shopp-server
# heroku config:set CLIENT_ORIGIN=https://ramworks.netlify.app --app shopp-server

# heroku config --app shopp-server
# DATABASE_URL:  postgres://u63okaju130hj:pdccbac3c42b97b35b9b66e12915ebc1a4be505a48e045036cde47c01054a13f1@c4mf833jfd7vec.cluster-czz5s0kz4scl.eu-west-1.rds.amazonaws.com:5432/dfgsdg5v6vqapb